QUOTA_DEBUG=true
QUOTA_PORT=8003
QUOTA_POSTGRES_HOST=localhost
QUOTA_POSTGRES_PORT=5432
QUOTA_POSTGRES_USER=hermes
QUOTA_POSTGRES_PASSWORD=hermes
QUOTA_POSTGRES_DB=hermes_quota
QUOTA_REDIS_HOST=localhost
QUOTA_REDIS_PORT=6379
QUOTA_ADMIN_API_KEY=dev-admin-key-change-in-prod
QUOTA_AUTH_SERVICE_URL=http://localhost:8001
